@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="UploadFile"
      asp-controller="Home"
      method="post"
      enctype="multipart/form-data">
    <input type="file" class="form-control" name="file" />
    <input type="submit" class="form-control" value="Upload Selected File" />
</form>